<div class="navBar">
    <nav class="nav">
        <div>
            <a href="#">
                <img class="logo_image" src="/static/sportPic.jpg">
            </a>
        </div>
        <ul class="nav-list">
            <li class="list-item"><a href="/home_page"> home page</a></li>
            <li class="list-item"><a href="/contact"> contact us</a></li>
            <li class="list-item"><a href="/assignment3_1"> assignment3_1</a></li>
            <li class="list-item"><a href="/assignment3_2"> assignment3_2</a></li>
        </ul>
    </nav>
</div>